.masthead {
    padding-top: 9rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    background-position: 50% 20%;
    background-image: url(http://files.holderdeord.no/images/lion01.jpg);
    background-size: cover;
    text-align: center;
    height: 25rem;
}

.masthead h1 {
    color: #111;
}

.hit em, .highlight {
    background-color: #fadd00;
    color: black;
    font-style: normal;
}

.timeline, .result-details, .hit {
    padding: 2em 0;
}

.modal-content .hit {
    padding: 0 0 1em 0;
}