@import "~bootstrap/less/bootstrap";
@import "hdo-colors";
@import "hdo-bootstrap-variables";

.masthead {
  padding-top: 9rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  background-position: 35% 25%;
  background-image: url("http://files.holderdeord.no/images/lion01.jpg");
  background-size: cover;
  text-align: center;
  height: 25rem;

  h1 {
    color: inherit;
    font-weight: 700;
  }

  a {
    text-decoration: underline;
    color: inherit;
  }
}

.stats {
  padding: 2rem;
  margin: 2rem;

  img {
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2),0 1px 3px rgba(0,0,0,0.3);
    border-radius: 2px;
  }
}

.card {
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

mark {
  background-color: #fadd00;
  color: black;
  font-style: normal;
}

.timeline, .result-details, .hit {
}

.modal-content .hit {
  padding: 0 0 1em 0;
}

.hit {
  img {
    border-radius: 5px;
  }
}

.dev-panel {
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  width: 105%;
  background-color: black;
  opacity: 0.8;
  color: #ddd;
}

footer {
  display: block;
  position: relative;
  margin: 5rem 0;
  text-align: center;
  opacity: 0.8;

  @logo-height: 5rem;

  .logo {
    padding-top: @logo-height;
    padding-bottom: 1.25rem;
    background: 50% 20% no-repeat;
    background-image: @hdo-logo;
    background-size: auto @logo-height;
  }
}


